<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.temple.fourcolorgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.TitleScreen"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ColorPicker"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.LoadingScreen" />
        <activity
            android:name=".Activities.HelpPopup"
            android:theme="@style/AppTheme.HelpPopop" />
        <activity android:name=".Activities.GameDetails" />
        <activity android:name=".Activities.PuzzleMode"></activity>
    </application>

</manifest>